{% extends "base.html" %}

{% block content %}

<h2>Signup</h2>


<form action="/signup" method="post">

    <table>
        {%for field_name, field_type in field_list%}
        <tr>
            <td>{field_name}</td>
            <td><input type={field_type} name={field_name}</td> 
                <!-- #Username <input type="text" name="username" /><br>
                #Password
                #<input type="password" name="pword" /><br>
                #Verify Password
                #<input type="password" name="verify_pword" /><br>
                #Emails (optional)
                #<input type="text" name="email" /><br>
                -->
        </tr>
        {%endfor%}
    </table>table>
    <input type="submit" value="Validate" />
</form>

{% if error %}
<p class='error'>{{ error }}</p>
{% endif %}
{% endblock %}